<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <title>Task Manager</title>

</head>

<body>
    {% block content %}
    {% endblock %}

    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript"> 
        $(document).ready(function(){
            $('.collapsible').collapsible();
            $('select').formSelect();
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, options);
        });

        $(document).ready(function(){
            $('.datepicker').datepicker();
        });

        document.getElementById("matfix").addEventListener("click", function(e) {
            e.stopPropagation();
        });



    </script>    
</body>

</html>